Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

*.stackdump

[Dd]esktop.ini

$RECYCLE.BIN/

.svn/

*.ppk
*.log
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk 

*~

*.css.map
*.sass.map
*.scss.map

phpunit.xml
/phpstan.neon
composer.phar
composer.lock
/vendor/


[._]*.s[a-v][a-z]
!*.svg
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

Session.vim
Sessionx.vim

[._]*.un~

node_modules
coverage

build
dist

.*
!.gitignore
!.npmignore
!.babelrc
!.travis.yml

!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace